*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    
    height: 100vh;
    width: 100vw;
  
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    place-content: center;
    place-items: center;
  
}


.btn-pink{
    height: 50px;
    width: 100px;

    display: flex;
    place-content: center;
    place-items: center;
    
    background-color: pink;
    
    color: black;
    box-shadow: 5px 5px 7px 0px black ;
    position: relative;
    z-index: 1;
}    


.btn-pink::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;

}
  


.btn-pink:hover::before{

    transform: scaleX(1);
}