



.container{
    margin: 100px;
    border: 1px solid red;
    background-color: yellow;
    display: grid;
    height: 700px;
    width: 504px;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;

    grid-gap: 4px;

    grid-template-areas: 
        " hd hd " 
        "  main sidebar "
        " footer footer"
        ;
    
}

.class{
 
   border: 1px solid red;
   background-color: aqua;
}

#header{

    grid-area:hd;
}

#content{
    grid-area: main;
}

#sidebar{
    grid-area: sidebar;
}

#Footer{
    grid-area: footer;
}

@media(max-width: 350px){
    .container{
        margin: 3px;
        border: 1px solid red;
        background-color: yellow;
        display: grid;
        width: auto;
        grid-template-rows: 30px 1fr 1fr 30px;
        grid-template-columns: 1fr;
        grid-gap: 2px;
    
        grid-template-areas: 
            " hd  " 
            "  main  "
            "sidebar"
            " footer "
            ;
    }
}